@using VideoGameLibrary.Web.ViewModels.Genre
@using VideoGameLibrary.Web.Infrastructure.Extensions
@model IEnumerable<AllGenresViewModel>

@{
    ViewData["Title"] = "All Genres";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="list-group">
    @foreach (AllGenresViewModel genre in Model)
    {
        <a class="list-group-item list-group-item-action" asp-controller="Genre" asp-action="All" asp-route-id="@genre.Id" asp-route-information="@genre.GetUrlInformation()">@genre.Name</a>
    }
</div>
